ul {
    list-style-type: none;
    display: inline-block;
  }
  
  input[type="submit"] {
    display:block;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 1em;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    padding: 0.5em 1em;
    background-color:white;
    border: 1px solid black;
  }

  button:active, button:hover {
    background-color:black;
    color:white;
    cursor:pointer;
  }